<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <h2 class="footer-title">
        Discover the magic of <span class="accent">organic fruit</span> in an
        incredible range of taste
        <span class="accent">experiences</span>
      </h2>
      <div class="contacts">
        <ul class="socials">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="socials-link"
              target="_blank"
            >
              <svg class="socials-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="socials-link"
              target="_blank"
            >
              <svg class="socials-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="socials-link"
              target="_blank"
            >
              <svg class="socials-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <address>
          <ul class="address">
            <li class="address-item">
              <a href="tel:+380684439426" class="adress-tel"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="address-item">
              <p class="address-location">
                1678 S. Pioneer Road
                <span class="location-span">Salt Lake City UT 84104</span>
              </p>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="logo footer-logo">
        <svg class="logo-icon" width="14" height="14">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <a class="logo-text" href="./index.html">fruitbox</a>
      </div>
      <ul class="navigation">
        <li class="nav-item">
          <a href="#how" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item"><a href="#fruits" class="nav-link">Fruits</a></li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
        <li class="nav-item"><a href="#order" class="nav-link">Order</a></li>
      </ul>
    </div>
  </div>
</footer>
