<section class="fruits">
  <div class="container">
    <div class="fruits-wrapper">
      <div class="fruits-wrapper-title">
        <h2 class="fruits-title">Fruits</h2>
      </div>
      <div class="fruits-wrapper-text">
        <h3 class="fruits-caption section-caption">
          Organic <span class="accent">fruits</span>
        </h3>
        <p class="fruits-text section-text">
          Our organic fruits are hand-picked from local farms and delivered
          straight to your doorstep, ensuring that you get the freshest and most
          nutritious produce possible. We offer a wide selection of organic
          fruits grown without the use of harmful pesticides or chemicals.
        </p>
      </div>
    </div>
    <ul class="fruits-list">
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/orange-mob@1x.png 1x,
              ../img/fruits/mob/orange-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/orange@1x.png 1x,
              ../img/fruits/dec-tab/orange@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/orange@1x.png"
            alt="Orange photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Orange</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">60 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/lime-mob@1x.png 1x,
              ../img/fruits/mob/lime-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/lime@1x.png 1x,
              ../img/fruits/dec-tab/lime@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/lime@1x.png"
            alt="Lime photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Lime</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">40 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/peach-mob@1x.png 1x,
              ../img/fruits/mob/peach-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/peach@1x.png 1x,
              ../img/fruits/dec-tab/peach@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/peach@1x.png"
            alt="Peach photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Peach</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">80 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/apple-mob@1x.png 1x,
              ../img/fruits/mob/apple-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/apple@1x.png 1x,
              ../img/fruits/dec-tab/apple@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/apple@1x.png"
            alt="Apple photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Apple</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">50 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/banana-mob@1x.png 1x,
              ../img/fruits/mob/banana-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/banana@1x.png 1x,
              ../img/fruits/dec-tab/banana@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/banana@1x.png"
            alt="Banana photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Banana</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">80 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/kiwi-mob@1x.png 1x,
              ../img/fruits/mob/kiwi-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/kiwi@1x.png 1x,
              ../img/fruits/dec-tab/kiwi@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/kiwi@1x.png"
            alt="Kiwi photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Kiwi</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">90 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/plums-mob@1x.png 1x,
              ../img/fruits/mob/plums-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/plums@1x.png 1x,
              ../img/fruits/dec-tab/plums@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/plums@1x.png"
            alt="Plums photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Plums</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">40 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/strawberry-mob@1x.png 1x,
              ../img/fruits/mob/strawberry-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/strawberry@1x.png 1x,
              ../img/fruits/dec-tab/strawberry@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/strawberry@1x.png"
            alt="Strawberry photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Strawberry</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">100 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <picture>
          <source
            srcset="
              ../img/fruits/mob/watermelon-mob@1x.png 1x,
              ../img/fruits/mob/watermelon-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <source
            srcset="
              ../img/fruits/dec-tab/watermelon@1x.png 1x,
              ../img/fruits/dec-tab/watermelon@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="../img/fruits/dec-tab/watermelon@1x.png"
            alt="Watermelon photo"
            class="fruits-img"
            width="216"
            height="184"
            loading="lazy"
          />
        </picture>
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Watermelon</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">40 UAH / kg</button>
        </div>
      </li>
    </ul>
  </div>
</section>
