<section class="fruits">
  <div class="container">
    <div class="fruits-wrapper">
      <div class="fruits-wrapper-title">
        <h2 class="fruits-title">Fruits</h2>
      </div>
      <div class="fruits-wrapper-text">
        <h3 class="fruits-title section-caption">Organic fruits</h3>
        <p class="fruits-text section-text">
          Our organic fruits are hand-picked from local farms and delivered
          straight to your doorstep, ensuring that you get the freshest and most
          nutritious produce possible. We offer a wide selection of organic
          fruits grown without the use of harmful pesticides or chemicals.
        </p>
      </div>
    </div>
    <ul class="fruits-list">
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/orange@1x.png"
          alt="Orange photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Orange</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">60 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/lime@1x.png"
          alt="Lime photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Lime</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">40 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/peach@1x.png"
          alt="Peach photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Peach</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">80 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/apple@1x.png"
          alt="Apple photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Apple</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">50 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/banana@1x.png"
          alt="Banana photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Banana</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">80 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/kiwi@1x.png"
          alt="Kiwi photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Kiwi</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">90 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/plums@1x.png"
          alt="Plums photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Plums</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">40 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/strawberry@1x.png"
          alt="Strawberry photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Strawberry</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">100 UAH / kg</button>
        </div>
      </li>
      <li class="fruits-item">
        <img
          src="../img/fruits/dec-tab/watermelon@1x.png"
          alt="Watermelon photo"
          class="fruits-img"
          width="216"
          height="184"
        />
        <div class="fruits-info">
          <div class="fruits-message">
            <h4 class="fruits-list-title">Watermelon</h4>
            <p class="fruits-list-text">Plant</p>
          </div>
          <button class="btn-fruits">40 UAH / kg</button>
        </div>
      </li>
    </ul>
  </div>
</section>
