<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      <span class="accent">Fresh harvest box</span> is your one-stop place
      <span class="hero-title-bottom"> for a delicious fruit basket </span>
    </h1>
    <ul class="hero-list">
      <li class="hero-item">&num;ORGANIC</li>
      <li class="hero-item">&num;PRODUCTS</li>
      <li class="hero-item">&num;BASKET</li>
      <li class="hero-item">&num;FRUITS</li>
    </ul>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./img/hero/hero_desk.jpg 1x, ./img/hero/hero_desk@2.jpg 2x"
        type="image/jpg"
      />

      <source
        media="(min-width: 768px)"
        srcset="./img/hero/hero_tab.jpg 1x, ./img/hero/hero_tab@2.jpg 2x"
        type="image/jpg"
      />

      <source
        media="(max-width: 767px)"
        srcset="./img/hero/hero_mob.jpg 1x, ./img/hero/hero_mob@2.jpg 2x"
        type="image/jpg"
      />
      <img
        class="hero-img"
        src="./img/hero/hero_mob.jpg"
        alt="Fruit box"
        loading="lazy"
      />
    </picture>
  </div>
</section>
