<div class="mob-tab">
  <div class="mob-tab-box-left"></div>
  <div class="mob-tab-box-right">
    <button class="mob-tab-btn" type="button" aria-label="Close menu button">
      <svg class="mob-tab-icon" width="28" height="28">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mob-tab-menu">
      <ul class="mob-tab-list">
        <li class="mob-tab-item">
          <a href="#" class="mob-tab-link how">How It Works</a>
        </li>
        <li class="mob-tab-item">
          <a href="#" class="mob-tab-link">Fruits</a>
        </li>
        <li class="mob-tab-item">
          <a href="#" class="mob-tab-link">Reviews</a>
        </li>
        <li class="mob-tab-item"><a href="#" class="mob-tab-link">Order</a></li>
      </ul>
    </div>
    <a class="mob-tab-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
  </div>
</div>
