<section class="reviews">
  <div class="container">
    <div class="reviews-title-cont">
      <h2 class="reviews-title">Reviews</h2>
      <div class="section-cont">
        <h3 class="section-caption">
          Your <span class="accent">impressions</span> of organic
          <span class="mob-break">fruits</span>
        </h3>
        <p class="section-text">
          Our boxes are packed with delicious, nutritious fruits and vegetables,
          perfect for anyone looking to eat healthier or support local farmers.
          Order your box today and start enjoying the best that nature has to
          offer!
        </p>
      </div>
    </div>
    <div class="reviews-cont">
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-up">
            <div class="reviews-item-cont">
              <div class="reviews-left">
                <img
                  class="reviews-item-img"
                  src="../img/reviews/profil-icons/user_women@1x.png"
                  srcset="
                    ../img/reviews/profil-icons/user_women@1x.png 1x,
                    ../img/reviews/profil-icons/user_women@2x.png 2x
                  "
                  alt="photo Victoria"
                  width="56"
                  height="56"
                />
              </div>
              <div class="reviews-right">
                <h4 class="reviews-name">Victoria</h4>
                <p class="reviews-text">Student</p>
              </div>
            </div>
            <div>
              <ul class="reviews-stars-list">
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-comment">
            The range of berries is simply amazing! Organic strawberries and
            raspberries are real flavor bombs. It's great to be able to enjoy
            natural sweetness without worrying about chemicals.
          </p>
        </li>
        <li class="reviews-item">
          <div class="reviews-up">
            <div class="reviews-item-cont">
              <div class="reviews-left">
                <img
                  class="reviews-item-img"
                  src="../img/reviews/profil-icons/user_men@1x.png"
                  srcset="
                    ../img/reviews/profil-icons/user_men@1x.png 1x,
                    ../img/reviews/profil-icons/user_men@2x.png 2x
                  "
                  alt="photo Alex"
                  width="56"
                  height="56"
                />
              </div>
              <div class="reviews-right">
                <h4 class="reviews-name">Alex</h4>
                <p class="reviews-text">Student</p>
              </div>
            </div>
            <div>
              <ul class="reviews-stars-list two">
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li class="reviews-stars-item">
                  <svg class="reviews-stars" width="20" height="20">
                    <use href="../img/icons.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-comment">
            I recently tried organic apples, and they impressed me with their
            unique taste harmony. A real experience for those who are looking
            for not only fruit, but also aesthetic pleasure from the taste!
          </p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          ../img/reviews/reviews_desk@1x.png 1x,
          ../img/reviews/reviews_desk@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/reviews/reviews_tab@1x.png 1x,
          ../img/reviews/reviews_tab@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/reviews/reviews_mob@1x.png 1x,
          ../img/reviews/reviews_mob@2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="reviews-img"
        src="../img/reviews/reviews_desk@1x.png"
        alt="photo-fruits"
      />
    </picture>
  </div>
</section>
