.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  letter-spacing: -0.04em;
  color: #0f0f0f;
  background-color: #fcfcfc;
}

.accent {
  color: #ff7f08;
}

.section {
  margin-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #ff7f08;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  h2 {
    margin-bottom: 20px;
  }
}

h3 {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  h3 {
    margin-bottom: 25px;
  }
}

/* h3 */
.section-caption {
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .section-caption {
    font-size: 32px;
  }
}

/* p */
.section-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #777;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .section-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
