.container {
  padding: 0 20px;
  max-width: 335px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
  }
}
