.container {
  outline: 1px solid red;
  /* 375px 768px 1280px */
}

.fruits {
}
.container {
}

/* #region Fruits Wrapper */

.fruits-wrapper {
  margin-bottom: 40px;
}

.fruits-wrapper-title {
  margin-bottom: 20px;
}
.fruits-title {
}

@media only screen and (max-width: 767px) {
  .fruits-title {
    font-size: 14px;
    line-height: 1.28;
  }
}
.fruits-caption {
}
.fruits-wrapper-text {
}
.section-caption {
}

.fruits-text {
}
.section-text {
}

/* #endregion Fruits Wrapper */

/* #region Fruits-list */

.fruits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.fruits-item {
  padding: 40px;

  border: 1px solid rgba(15, 15, 15, 0.15);
  border-radius: 8px;
}

@media only screen and (max-width: 767px) {
  .fruits-item:nth-child(n + 7) {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .fruits-item:nth-child(n + 9) {
    display: none;
  }
}

.fruits-img {
  margin: 0 auto;
}
.fruits-info {
}
.fruits-message {
}
.fruits-list-title {
}
.fruits-list-text {
}
.btn-fruits {
}

/* #endregion Fruits-list */
