.container {
  outline: 1px solid red;
  /* 375px 768px 1280px */
}

.fruits {
}
.container {
}

/* #region Fruits Wrapper */

.fruits-wrapper {
  margin-bottom: 40px;
}

.fruits-wrapper-title {
  margin-bottom: 20px;
}
.fruits-title {
}

.fruits-caption {
}
.fruits-wrapper-text {
}
.section-caption {
}

.fruits-text {
}
.section-text {
}

/* #endregion Fruits Wrapper */

/* #region Fruits-list */

.fruits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.fruits-item {
  padding: 40px;

  border: 1px solid rgba(15, 15, 15, 0.15);
  border-radius: 8px;
}

@media only screen and (max-width: 767px) {
  .fruits-item:nth-child(n + 7) {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .fruits-item:nth-child(n + 9) {
    display: none;
  }
}

.fruits-img {
  margin: 0 auto;
}
.fruits-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fruits-message {
}
.fruits-list-title {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #0f0f0f;
}
.fruits-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: #777;
}
.btn-fruits {
}

/* #endregion Fruits-list */
