.header {
  margin-bottom: 80px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
}
.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}
.logo-icon {
}
.header-nav {
  display: none;
}

.tel-contact {
  display: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
}
.menu-btn-icon {
  stroke: #0f0f0f;
}
