.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .logo-icon {
    width: 16px;
    height: 16px;
  }
  .logo-text {
    font-size: 18px;
    transition: none;
  }
}
