.mob-tab {
  position: fixed;
  inset: 0;
}
.mob-tab-box-left {
  position: fixed;
}

.mob-tab-box-right {
  max-width: 141px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  padding: 32px;
  padding-bottom: 371px;
  background-color: #ff7f08;
}
.mob-tab-btn {
  position: absolute;
  padding: 0;
  top: 16px;
  right: 20px;
  background: transparent;
  border: none;
}
.mob-tab-icon {
  stroke: #fff;
}
.mob-tab-list {
}
.mob-tab-item {
}
.mob-tab-link {
}
.mob-tab-tel {
}
