@media only screen and (min-width: 768px) {
  .text-container-before-form {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  .text-container-before-form {
    max-width: calc(100% - 80px);
  }
}
.container-caption-text {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1279px) {
  .block {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .block {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  .container-caption-text {
    max-width: 496px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-caption-text {
    max-width: 547px;
  }
}

@media only screen and (min-width: 768px) {
  .container-form-img {
    border-radius: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-form-img {
    display: flex;
    background-color: #ff7f08;
    justify-content: space-between;
    max-height: 382px;
  }
}

.container-form {
  border-radius: 16px;
  background-color: #ff7f08;
  padding: 28px 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .container-form {
    padding: 43px 0px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-form {
    margin-left: 78px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .form {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .form {
    width: 400px;
  }
}

.group {
  margin-bottom: 12px;
  position: relative;
}

.group-comment {
  margin-bottom: 25px;
  position: relative;
}

label {
  position: absolute;
  color: #fcfcfc;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.04rem;
  left: 15px;
  top: 15px;
  transition: 500ms ease-in;
}

.field,
.field-comment {
  border-radius: 8px;
  border: 1px solid rgba(252, 252, 252, 0.35);
  padding: 12px 14px;
  background-color: transparent;
  width: 100%;
  height: 42px;
  color: #fcfcfc;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04rem;
  outline: none;
  transition: 500ms ease-in;
}

@media only screen and (min-width: 768px) {
  .field {
    padding: 14px;
    font-size: 16px;
    line-height: 1.25;
    height: 48px;
  }
}

.field-comment {
  resize: none;
  height: 97px;
}

@media only screen and (min-width: 768px) {
  .field-comment {
    resize: none;
    height: 101px;
  }
}

.field:focus-within,
.field-comment:focus-within {
  border-color: #fcfcfc;
  box-shadow: 2px 2px 2px #ff7f08, 2px 2px #fcfcfc;
  top: -2px;
  left: -2px;
}

.field:focus-within ~ label,
.field:valid ~ label,
.field-comment:focus-within ~ label,
.field-comment:valid ~ label,
.field:invalid:not(:placeholder-shown) ~ label {
  top: -9px;
  font-size: 12px;
  color: #fcfcfc;
  background-color: #ff7f08;
  padding: 0 3px;
}

.field:invalid:not(:placeholder-shown) {
  border-color: red;
  box-shadow: 2px 2px 2px #fcfcfc, 4px 4px 2px red;
}

/* .field:invalid:not(:placeholder-shown) ~ label {
  opacity: 0;
} */

.order-btn {
  padding: 13px;
  border-radius: 16px;
  border: none;
  background-color: #fcfcfc;
  width: 100%;
  color: #ff7f08;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  transition-property: color, box-shadow;
}

@media only screen and (min-width: 768px) {
  .order-btn {
    padding: 15px;
  }
}

@media screen and (hover: hover) {
  .order-btn:hover {
    color: #e76f00;
  }
}

.order-btn:focus {
  color: #e76f00;
  outline: none;
}

@media screen and not (hover: hover) {
  .order-btn:active {
    color: #e76f00;
  }
}

.order-img {
  border-radius: 16px;
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .order-img {
    width: 704px;
    height: 382px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-img {
    width: 627px;
    height: 382px;
  }
}
